<style type="text/css">
  .container {
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
    border: 1px dotted black;
  }
  th {
    text-align: left;
  }
</style>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>


<div class="container">  
  <a href="/ChrisSell3"> Check out Christopher's twitter stats !!</a>
</div>
