<!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript"  src="../app.js"></script>

<div class="tweets-holder">
  <img src="../ajax-loader.gif" alt="Icon" />
</div>

this is stale page


 -->
